.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.html
*SHP*
*.csv
*.rds
*.json
*.parquet
*.npy
*.xlsx
*.xls
*.png

~/.boxr-oauth
/Users/lewiswhite/.boxr-oauth

/data
/data_archive

/src/box_api_client_info.R

# Ignore RStudio temp files
.RDataTmp*
.Rhistory
.RData

# Ignore archive outputs
*.zip
archive/archive_reports/
archive/data_archive/temp_rh/

#ignore ethiopia work
/ethiopia_work

